h3 {
  color: red;
}

.card {
  width: 500px;
  height: 500px;
  background-color: wheat !important;

  $card-height : 100px;
  
  .card-header {
    height: $card-height;
    background-color: aquamarine;
  }
  .card-body {
    height: 300px;
    background-color: blue;
  }
  .card-footer {
    height: $card-height;
    background-color: blueviolet;
  }
}
